<%- include('header'); -%>

<body class="dashboard">

    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">

        <div class="header dashboard">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <nav class="navbar navbar-expand-lss navbar-light px-0">
                            <a class="navbar-brand" href="dashboard"><img src="/images/w_logo.png" alt=""></a>
                            <div class="dashboard_log my-2">
                                <div class="d-flex align-items-center">
                                    <div class="account_money">
                                        <ul>
                                            <li class="crypto">
                                                <span>VNĐ</span>
                                            </li>
                                            <li class="usd">
                                                <span>USD</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="profile_log dropdown">
                                        <div class="user" data-toggle="dropdown">
                                            <span class="thumb"><i class="la la-user"></i></span>
                                            <span class="name"><%= currentUser.displayName %></span>
                                            <span class="arrow"><i class="la la-angle-down"></i></span>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="accounts" class="dropdown-item">
                                                <i class="la la-user"></i> Tài khoản
                                            </a>
                                            <a href="history" class="dropdown-item">
                                                <i class="la la-book"></i> Lịch sử
                                            </a>
                                            <a href="settings" class="dropdown-item">
                                                <i class="la la-cog"></i> Cài đặt
                                            </a>
                                            <a href="logout" class="dropdown-item logout">
                                                <i class="la la-sign-out"></i> Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header border-0">
                        <h4 class="card-title">Tất cả tài khoản</h4>
                    </div>
                    <div class="card-header border-0">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                        <input type="text" class="form-control" placeholder="hello@example.com"
                                            name="search-email">
                                </div>
                                <div class="col-lg-6">
                                    <button type="submit" name="submit" class="btn btn-success btn-block">Tìm
                                        kiếm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="transaction-table">
                            <div class="table-responsive">
                                <table class="table mb-0 table-responsive-sm">
                                    <tbody>
                                        <tr>
                                            <td>Tên</td>
                                            <td>Email</td>
                                            <td>SĐT</td>
                                            <td>Số tiền</td>
                                            <td>Số tài khoản</td>
                                            <td>Trạng thái</td>
                                        </tr>
                                        <% listUser.forEach(u =>{  if(u.permission == "0"){%>
                                        <form action="/accounts-admin/<%= u.id %>" method="POST">
                                            <tr>
                                                <td><%= u.displayName %></td>
                                                <td><%= u.email %></td>
                                                <td><%= u.phone %></td>
                                                <td><%= u.totalMoney %></td>
                                                <td><%= u.idcard %></td>

                                                <td>
                                                    <select class="form-control" name="select">
                                                        <option value="0" <% if(u.activate =='0'){ %> selected <% } %>>
                                                            Chưa kích hoạt</option>
                                                        <option value="1" <% if(u.activate =='1'){ %> selected <% } %>>
                                                            Đã kích hoạt</option>
                                                    </select>
                                                </td>
                                                <td><button type="submit" name="submit"
                                                        class="btn btn-success btn-block">Lưu</button></td>
                                                <td><a href="/accounts-admin/edit/<%= u.id %>" name="submit"
                                                        class="btn btn-success btn-block">Sửa</a></td>
                                            </tr>
                                        </form>
                                        <% }}); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <%- include('footer'); -%>