<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link <%= activeHome %>" href="/">Trang chủ</a>
        </li>
        <li class="nav-item dropdow">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dịch vụ</a>
          <div class="dropdown-menu">
            <a class="dropdown-item <%= activeSendMoney %>" href="#">Chuyển tiền</a>
            <a class="dropdown-item <%= activeSaving %>" href="#">Gửi tiết kiệm</a>
            <a class="dropdown-item <%= activeActivityLog %>" href="#">Nhật ký hoạt động</a>
          </div>
        </li><li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tài khoản</a>
          <div class="dropdown-menu">
            <a class="dropdown-item <%= activeProfile %>" href="profile">Thông tin</a>
            <a class="dropdown-item <%= activeChangeProfile %>" href="#">Thay đổi thông tin</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link"<%= activeLogout %> href="logout">Đăng xuất</a>
        </li>
      </ul>
          <h1><%= title %></h1>
      
